site_name: Iden3 Documentation
site_url: https://docs.iden3.io/
theme:
  name: material
  palette:
    primary: black
  logo: logo.svg
  favicon: favicon.ico
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
    - content.code.copy
repo_url: https://github.com/iden3/docs
markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - mkdocs_graphviz
  - def_list
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format



extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
extra:
  social:
    - icon: fontawesome/brands/telegram
      link: https://t.me/iden3io
    - icon: fontawesome/brands/github
      link: https://github.com/iden3/docs
    - icon: octicons/browser-24
      link: https://iden3.io/

nav:
  - The basics:
    - Introduction: "basics/introduction.md"
    - Key concepts: "basics/key-concepts.md"
    - Getting started: "basics/getting-started.md"
  - Iden3 protocol:
      - Iden3 protocol specs: "protocol/spec.md"
      - Claim:
          - Structure: "protocol/claims-structure.md"
          - AuthBJJCredential: "protocol/bjjkey.md"
          - Claim Schema : "protocol/claim-schema.md"
  - Core Tutorial:
    - Introduction: "getting-started/getting-started.md"
    - Core Components:
      - Baby Jubjub Keypair: "getting-started/babyjubjub.md"
      - Sparse Merkle Tree: "getting-started/mt.md"
      - Claim:
        - Generic Claim: "getting-started/claim/generic-claim.md"
        - Auth Claim: "getting-started/claim/auth-claim.md"
        # - Claim Schema: "getting-started/claim/claim-schema.md"
      - Identity:
        - Identity Types: "getting-started/identity/identity-types.md"
        - Identity State: "getting-started/identity/identity-state.md"
        - Identifier: "getting-started/identity/identifier.md"
        - Identity Profiles: "getting-started/identity/identity-profile.md"
        - OnChain Identity: "getting-started/identity/onchain-identity.md"
    - Issue Claim:
      - Overview: "getting-started/issue-claim-overview.md"
      - via Signature: "getting-started/signature-claim/signature.md"
      - via Merkle Tree:
        - Intro to State Transition: "getting-started/state-transition/state-transition.md"
        - Add Claim to the Claims Tree: "getting-started/state-transition/new-identity-state.md"
        - Generate Proof for State Transition: "getting-started/state-transition/state-transition-proof.md"
        - Verify the Proof On-Chain: "getting-started/state-transition/on-chain-state-transition.md"
    - Claim Revocation:
      - Revoke Claim: "getting-started/claim-revocation.md"

  - Services and protocols:
#    - Libraries: "services/libraries.md"
    - Login protocol: "protocol/zklogin.md"
    - Proof Query language: "protocol/querylanguage.md"
    - Non-merklized credentials: "protocol/non-merklized.md"
    - JSON-LD merklization: "w3c/merklization.md"
    - Reverse hash service: "services/rhs.md"
  - Circuits:
    - Main Circuits: "protocol/main-circuits.md"
    - Template Circuits: "protocol/template-circuits.md"
  - Circom / snarkjs: "circom-snarkjs/index.md"
  - Contracts: "contracts/contracts.md"
  - Publications: "publications/publications.md"

# If you declare plugins, you need to declare all of them,
# including search (which would otherwise have been installed by default.)
plugins:
  - search
  - mermaid2
